spring:
  application:
    name: config

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared

  profiles:
    active: native

  security:
    user:
      name: ${CONFIG_USER}
      password: ${CONFIG_PASSWORD}

server:
  port: 8888
