version: '3.7'

services:

  start-dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - config
      - product-service-db
      - redis
    command: config:8888 product-service-db:5432 redis:6379

  config:
    build: ./config
    restart: on-failure
    environment:
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
    ports:
    - 8888:8888

  discovery-service:
    build: ./discovery-service
    depends_on:
      - config
    restart: on-failure
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
    ports:
    - 8761:8761

  gateway:
    build: ./gateway
    depends_on:
      - config
      - discovery-service
    restart: on-failure
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - 8080:8080

  product-service:
    build: ./product-service
    depends_on:
      - config
      - product-service-db
      - redis
    restart: on-failure
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
      - PRODUCT_DB_PASSWORD=${PRODUCT_DB_PASSWORD}

  product-service-db:
    image: "postgres:12-alpine"
    restart: always
    environment:
      - POSTGRES_DB=product_service
      - POSTGRES_USER=product_service
      - POSTGRES_PASSWORD=${PRODUCT_DB_PASSWORD}
    ports:
    - 5432:5432

  shopping-cart-service:
    build: ./shopping-cart-service
    depends_on:
      - config
      - discovery-service
    restart: on-failure
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev

  order-service:
    build: ./order-service
    depends_on:
      - config
      - discovery-service
    restart: on-failure
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev

  redis:
    image: redis:alpine
    ports:
    - 6379:6379