version: '3.7'

services:

  start-dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - config
      - product-service-db
    command: config:8888 product-service-db:5432

  config:
    build: ./config
    restart: always
    environment:
      CONFIG_PASSWORD: "${CONFIG_PASSWORD}"
    ports:
    - 8888:8888

  discovery-service:
    build: ./discovery-service
    depends_on:
      - config
    restart: always
    environment:
      - JAVA_OPTS=
        -DCONFIG_PASSWORD=$CONFIG_PASSWORD
    ports:
    - 8761:8761

  gateway:
    build: ./gateway
    depends_on:
      - config
      - discovery-service
    restart: always
    environment:
      - JAVA_OPTS=
        -DCONFIG_PASSWORD=$CONFIG_PASSWORD
    ports:
      - 8080:8080

  product-service:
    build: ./product-service
    depends_on:
      - config
      - product-service-db
    restart: on-failure
    environment:
      - JAVA_OPTS=
        -DCONFIG_PASSWORD=$CONFIG_PASSWORD

  product-service-db:
    image: "postgres:12-alpine"
    restart: always
    environment:
      - POSTGRES_DB=product_service
      - POSTGRES_USER=product_service
      - POSTGRES_PASSWORD=password
    ports:
    - 5432:5432

  shopping-cart-service:
    build: ./shopping-cart-service
    depends_on:
      - config
    restart: on-failure
    environment:
      - JAVA_OPTS=
        -DCONFIG_PASSWORD=$CONFIG_PASSWORD