version: '3.7'

services:

  start-dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - config
      - keycloak
      - product-service-db
      - order-service-db
      - rabbitmq
      - redis

    command: config:8888 product-service-db:5432 order-service-db:5432 rabbitmq:5672 redis:6379 keycloak:8080

  config:
    build: ./config
    container_name: config
    environment:
      - CONFIG_USER=${CONFIG_USER}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
    ports:
    - 8888:8888

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    depends_on:
      - config
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_USER=${CONFIG_USER}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
    ports:
    - 8761:8761

  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - config
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_USER=${CONFIG_USER}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - 9000:8080

  keycloak:
    image: jboss/keycloak
    container_name: keycloak
    environment:
      - KEYCLOAK_USER={KEYCLOAK_USER}
      - KEYCLOAK_PASSWORD={KEYCLOAK_PASSWORD}
    ports:
      - 8080:8080

  product-service:
    build: ./product-service
    container_name: product-service
    depends_on:
      - config
      - product-service-db
      - rabbitmq
      - redis
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_USER=${CONFIG_USER}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
      - PRODUCT_DB_USER=${PRODUCT_DB_USER}
      - PRODUCT_DB_PASSWORD=${PRODUCT_DB_PASSWORD}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - REDIS_PASSWORD=${REDIS_PASSWORD}

  product-service-db:
    image: "postgres"
    container_name: product-serivce-db
    environment:
      - POSTGRES_DB=product_service
      - POSTGRES_USER=${PRODUCT_DB_USER}
      - POSTGRES_PASSWORD=${PRODUCT_DB_PASSWORD}
    ports:
    - 5432:5432

  order-service:
    build: ./order-service
    container_name: order-service
    depends_on:
      - config
      - rabbitmq
      - order-service-db
    environment:
      - CONFIG_URI=http://config:8888
      - CONFIG_USER=${CONFIG_USER}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
      - ORDER_DB_USER=${ORDER_DB_USER}
      - ORDER_DB_PASSWORD=${ORDER_DB_PASSWORD}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}

  order-service-db:
    image: "postgres"
    container_name: order-service-db
    environment:
      - POSTGRES_DB=order_service
      - POSTGRES_USER=${ORDER_DB_USER}
      - POSTGRES_PASSWORD=${ORDER_DB_PASSWORD}
    ports:
      - 5433:5432

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
    - 5672:5672
    - 15672:15672

  redis:
    image: redis
    container_name: redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
    - 6379:6379