version: '3.7'

services:

  start-dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - config
      - product-service-db
      - discovery-service
    command: config:8888 product-service-db:5432 discovery-service:8761

  config:
    build: ./config
    restart: always
    ports:
    - 8888:8888

  discovery-service:
    build: ./discovery-service
    depends_on:
      - config
    restart: always
    ports:
    - 8761:8761

  product-service:
    build: ./product-service
    depends_on:
      - config
      - product-service-db
    restart: always

  product-service-db:
    image: "postgres:12-alpine"
    restart: always
    environment:
      - POSTGRES_DB=product_service
      - POSTGRES_USER=product_service
      - POSTGRES_PASSWORD=password
    ports:
      - 5433:5432

  gateway:
    build: ./gateway
    depends_on:
      - config
      - discovery-service
    restart: always
    ports:
      - 8080:8080