eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/

app:
  security:
    oauth2:
      jwt:
        issuer-uri: http://keycloak:8080/auth/realms/master

spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}

  redis:
    host: redis
    port: 6379