spring:
  datasource:
    url: jdbc:postgresql://product-service-db:5432/product_service
    username: product_service
    password: password
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  cache:
    type: redis

  redis:
    host: redis
    port: 6379
