spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/product_service
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  cache:
    type: redis

  redis:
    host: localhost
    port: 6379
